<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>Archetype Created Web Application</display-name>
    <filter>
        <filter-name>FilterTest</filter-name>
        <filter-class>filter.FilterTest</filter-class>
        <init-param>
            <param-name>Site</param-name>
            <param-value>菜鸟教程</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>FilterTest</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!--  servlet 测试  -->
    <servlet>
        <servlet-name>HelloWorld</servlet-name>
        <servlet-class>servlet.Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HelloWorld</servlet-name>
        <url-pattern>/HelloWorld</url-pattern>
    </servlet-mapping>
    <!--  mybatis 测试  -->
    <servlet>
        <servlet-name>mybatis</servlet-name>
        <servlet-class>servlet.MybatisTest</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>mybatis</servlet-name>
        <url-pattern>/mybatis</url-pattern>
    </servlet-mapping>
    <!--  账号查询  -->
    <servlet>
        <servlet-name>account</servlet-name>
        <servlet-class>com.account.getAccount</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>account</servlet-name>
        <url-pattern>/account</url-pattern>
    </servlet-mapping>
</web-app>
